[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.SduiPlayground
Exec=ru.auroraos.SduiPlayground
Name=SDUI Playground
Name[ru]=SDUI Плейграунд
